<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard</title>
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
   <!-- <link rel="stylesheet" href="../static/css/home.css"> -->
</head>
<body>
   <div class="container">
      <div class="navigation">
         <a class="title" href="#">
            <span class="icon"></span>
            <span class="name">MS Analysis</span>
         </a>
            <ul>
               <li>
                  <div class="labels">
                     <a href="#">
                        <ion-icon name="home-outline"></ion-icon>
                        <span class="name">Home</span>
                     </a>
                  </div>
               </li>
               <li>
                  <div class="labels">
                     <a href="/Analysis/">
                        <ion-icon name="analytics-outline"></ion-icon>
                        <span class="name">Analysis</span>
                     </a>
                  </div>
               </li>
               <li>
                  <div class="labels">
                     <a href="#">
                        <ion-icon name="chatbox-outline"></ion-icon>
                        <span class="name">Feedback</span>
                     </a>
                  </div>
               </li>
               <li>
                  <div class="labels">
                     <a href="#">
                        <ion-icon name="file-tray-stacked-outline"></ion-icon>
                        <span class="name">History</span>
                     </a>
                  </div>
               </li>
               <li>
                  <div class="labels">
                     <a href="/log_out/">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <span class="name">Logout</span>
                     </a>
                  </div>
               </li>
            </ul>
      </div>
      <div class="nav">
         <div class="nav_icon">
            <ion-icon name="menu-outline"></ion-icon>
         </div>
         <div class="name">
            <span>Hello, Vilas!</span>
         </div>
         <div class="user">
            <img src="{% static 'imgs/Profile2.jpg' %}" alt="V">
         </div>
      </div>
      <div class="main">
         <div class="Name">
            <span>INSERT DATA</span>
         </div>
         <form method="post" action="upload_file/" class="file_up" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myFile" id="file">
            <button class="button" type="submit">ADD</button>
         </form>
      </div>
   </div>

   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

   <script>
      function onclick(){

      }
   </script>
</body>
</html>